git
vim
neovim
zsh
apache2
dirmngr
gpg
gawk
autoconf
bison
build-essential
gettext
libgd-dev
libcurl4-openssl-dev
libedit-dev
libicu-dev
libjpeg-dev
libonig-dev
libpng-dev
libpq-dev
libreadline-dev
libsqlite3-dev
libssl-dev
libxml2-dev
libzip-dev
openssl
pkg-config
re2c
zlib1g-dev
